<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>OCI Starter - Angular</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div id="content">
  <h1>Sample</h1>
  <h2>Rest Result</h2>

  <td>{{ scott.dept s_json }}</td>

  <h2>Department Table</h2>
  <table>
    <tr *ngFor="let scott.dept  of scott.dept s">
      <td>{{ scott.dept .deptno }}</td>
      <td>{{ scott.dept .dname }}</td>
      <td>{{ scott.dept .loc }}</td>
    </tr>
  </table>

  <h2>Rest Info</h2>
  <div>{{ info }}</div>
</div>
