micronaut:
  application:
    name: demo
{% if db_family !="none" -%}
datasources:
  default:
    url: ${JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    db_family: {{ db_family }}
    {% if db_family == "oracle" -%}
    driverClassName: oracle.jdbc.OracleDriver
    db-type: oracle
    dialect: oracle
    {% elif db_family == "mysql" -%}
    driverClassName: com.mysql.cj.jdbc.Driver
    dialect: mysql
    {% endif %}
{% endif %}
netty:
  default:
    allocator:
      max-order: 3
jpa:
  default:
    entity-scan:
      packages: 'com.example'
