# Langgraph
# Issue with 0.2.2 version with openai-gpt-oss
# langchain_oci==0.2.1
langchain_oci
langchain_openai
openai
httpx
oci-openai
langgraph
langchain_mcp_adapters

# FastAPI
fastapi
uvicorn[standard]
aiohttp

# Oracle
oci
oci_genai_auth
oracledb

# OAuth Caching 
aiocache
